<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BLOCKCAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- css -->
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="stylesheets/css/jcarousel.css" rel="stylesheet" />
    <link href="stylesheets/css/flexslider.css" rel="stylesheet" />
    <link href="stylesheets/css/style.css" rel="stylesheet" />

    <!-- Theme skin -->
    <link href="stylesheets/skins/default.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Black+And+White+Picture|Black+Han+Sans|Cute+Font|Do+Hyeon|Dokdo|East+Sea+Dokdo|Gaegu|Gamja+Flower|Gothic+A1|Gugi|Hi+Melody|Jua|Kirang+Haerang|Nanum+Brush+Script|Nanum+Gothic|Nanum+Gothic+Coding|Nanum+Myeongjo|Nanum+Pen+Script|Noto+Sans+KR|Noto+Serif+KR|Poor+Story|Song+Myung|Stylish|Sunflower:300|Yeon+Sung&amp;subset=korean" rel="stylesheet">


</head>
<body>


    <p> hi</p>



    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<!-- 
    <script src="http://cdn.jsdelivr.net/gh/icon-project/icon-sdk-js@latest/build/icon-sdk-js.min.js"></script>
    <script>
        var iconService = window['icon-sdk-js']
        var IconWallet = iconService.IconWallet
        var IconAmount = iconService.IconAmount
        var IconConverter = iconService.IconConverter
        var IconBuilder = iconService.IconBuilder
    </script>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.easing.1.3.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.fancybox.pack.js"></script>
    <script src="javascripts/jquery.fancybox-media.js"></script>
    <script src="javascripts/google-code-prettify/prettify.js"></script>
    <script src="javascripts/portfolio/jquery.quicksand.js"></script>
    <script src="javascripts/portfolio/setting.js"></script>
    <script src="javascripts/jquery.flexslider.js"></script>
    <script src="javascripts/animate.js"></script>
    <script src="javascripts/custom.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="javascripts/utf8.js"></script>
-->
    <script src="javascripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/icon-project/icon-sdk-js@latest/build/icon-sdk-js.min.js"></script>
    
    
    
</body>

</html>
